
body {
    background: #fff;
    margin: 0;
}

.page-enter-active, .page-leave-active {
    transition: opacity .3s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}

ul.news-list {
    margin-left: 24px;

    .news-list__item {
        list-style: circle;
    }
}

ul.doc-list {
    margin-left: 24px;

    .doc-list__item {
        list-style: circle;
    }
}